/* Color and font style by me based on TOP style sheet */
body{
    font-family: "Roboto";
}
header, .top-section, footer{
    background-color: #1f2937;
    color: white;
}
button{
    background-color: #3882f6;
    color: white;
}
h1{
    font-weight: 900;
    font-size: 48px;
    color: #f9faf8;
}
.dark-background-text{
    color: #E5E7EB;
}
.logo{
    font-size: 24px;
}
h2{
    font-weight: 900;
    font-size: 36px;
    color: #1F2937;
}
.third-section{
    background-color: #E5E7EB;
}
.quote{
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    font-weight: 100;
}
.dark-background-links, .dark-background-text{
    color:#969da7;
    font-size: 18px;
}

/* layout */

body{
    display: flex;
    flex-direction: column;
    margin: 0;
}
.logo{
    font-weight: 900;
}
header, .top-section, .second-section, .third-section, .fourth-section, footer{
    padding: 0px 200px;
}
header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.dark-background-links{
    padding:0px 12px;
}
.top-section{
    display: flex;
    padding-top:  120px;
    padding-bottom: 120px;
    height: 240px;
    gap: 50px;
}
.dark-background-text{
    padding: 12px 0px;
    margin: 0;
    font-weight: 500;
}
h1{
    padding: 0;
    margin: 0;
}
.top-content{
    flex: 1;
}
.top-image{
    flex: 1;
    background-color: #72777f;
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    padding: 8px 28px;
    font-weight: 600;
    font-size: 16px;
    border-style: none;
    border-radius: 8px;
}
