/* Color and font style by me based on TOP style sheet */
body{
    font-family: "Roboto";
}
header, .top-section, footer{
    background-color: #1f2937;
    color: white;
}
button{
    background-color: #3882f6;
    color: white;
}
h1{
    font-weight: 900;
    font-size: 48px;
    color: #f9faf8;
}
.dark-background-text{
    color: #E5E7EB;
}
.logo{
    font-size: 24px;
}
h2{
    font-weight: 900;
    font-size: 36px;
    color: #1F2937;
}
.third-section{
    background-color: #E5E7EB;
}
.quote{
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    font-weight: 300;
}
.dark-background-links, .dark-background-text{
    color:#969da7;
    font-size: 18px;
}

/* layout general */

body{
    display: flex;
    flex-direction: column;
    margin: 0;
}
header, .top-section, .second-section, .third-section, .fourth-section, footer{
    padding: 0px 200px;
}
button{
    padding: 8px 28px;
    font-weight: 600;
    font-size: 16px;
    border-style: none;
    border-radius: 8px;
}

/* Header and top section layout */

.logo{
    font-weight: 900;
}
header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.dark-background-links{
    padding:0px 12px;
}
.top-section{
    display: flex;
    padding-top:  120px;
    padding-bottom: 120px;
    height: 240px;
    gap: 50px;
}
.dark-background-text{
    padding: 12px 0px;
    margin: 0;
    font-weight: 500;
}
h1{
    padding: 0;
    margin: 0;
}
.top-content{
    flex: 1;
}
.top-image{
    flex: 1;
    background-color: #72777f;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Second Section Layout */
.second-section{
    padding-top: 16px;
    padding-bottom: 88px;
}
h2{
    text-align: center;
}
.second-flex{
    display: flex;
    gap: 42px;
}
.second-placeholder{
    height: 165px;
    width: 165px;
    border: 4px solid #3882f6;
    border-radius: 12px;
}
.subtext{
    text-align: center;
}
.illustration{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Third Section Layout */
.third-section{
    padding: 100px 230px;
}
h3{
    padding: 0;
    margin: 0;
}
.quote, .subquote{
    padding: 0;
    margin: 0;
}
.subquote{
    text-align: end;
    font-weight: 600;
    font-size: 18px;
}

/* Fourth Section Layout */
.fourth-section{
    margin-top: 75px;
    margin-bottom: 75px;
}
.call{
    background-color: #3882f6;
    margin: 40px 0px;
    padding: 30px 50px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 58px;
    color: #E5E7EB;
}
#call-button{
    border-color: white;
    border-style: solid;
}
.call-text{
    padding: 0;
    margin: 0;
}